@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
    
  }


  body{
    background-color: rgb(249, 249, 249);
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    overflow-y: hidden;
  }


.content{
    position: relative;
}

.content h2{
    position: absolute;
    color: black;
    transform: translate(-50%,-150%);
    font-size: 8em;
    
}


.content h2:nth-child(1){
    color: white;
    -webkit-text-stroke: 1px transparent;
    

}
.content h2:nth-child(2){
    color: black;
    animation: milk-flow 16s ease-in-out infinite;
    

}

@keyframes milk-flow{
    0%{
        clip-path: polygon(40% 46%, 55% 46%, 71% 45%, 82% 44%, 100% 46%, 100% 100%, 0 100%, 0 41%, 11% 40%, 24% 44%);
    }
    25%{
        clip-path: polygon(39% 69%, 55% 79%, 67% 74%, 82% 64%, 100% 61%, 100% 100%, 0 100%, 0 54%, 12% 58%, 28% 60%);

    }
    50%{
        clip-path: polygon(40% 32%, 56% 25%, 72% 31%, 84% 45%, 100% 60%, 100% 100%, 0 100%, 0 51%, 12% 55%, 28% 46%);


    }
    75%{
        clip-path: polygon(39% 69%, 55% 79%, 67% 74%, 82% 64%, 100% 61%, 100% 100%, 0 100%, 0 54%, 12% 58%, 28% 60%);

    }
    100%{
        clip-path: polygon(40% 46%, 55% 46%, 71% 45%, 82% 44%, 100% 46%, 100% 100%, 0 100%, 0 41%, 11% 40%, 24% 44%);

    }
    
}
  .container {
    height: 500px;
    width: 500px;
    position: absolute;
    transform: translate(-50%, -50%);
    left: 50%;
    top: 50%;
    background-color: transparent;
  }



.oval{
    width: 18em;
    height: 13em;
    background-color: #ffffff;
    border-radius: 45%;
    border: 0px solid transparent;
    box-shadow: inset -5px -20px 45px rgb(218, 218, 218);
    position: absolute;
    transition: all 0.2s ease-in-out;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    top: 10em;
    left: 6.5em;
    

    z-index: 2;
    overflow: hidden;
    animation: oval-breathe 2s infinite;
    
}

@keyframes oval-breathe{
    50%{
        height: 12.5em;
    }

}
.right-black-part{
    background-color: rgb(68, 82, 85);
    box-shadow: inset 0 0 100px rgb(29, 29, 29);
    z-index: 3;
    height: 9em;
    width: 18em;
    border-radius: 30%;
    rotate: 6deg;
    position: absolute;
    right: -55%;
    top: -30%;  
    rotate: 15deg;

}

.left-black-part{
    background-color: rgb(62, 62, 62);
    box-shadow: inset 0 0 20px rgb(30, 30, 30);
    z-index: 3;
    height: 4em;
    width: 5em;
    border-radius: 45%;
    rotate: -10deg;
    position: absolute;
    left: -3%;
    top: -5%;  

}

.ear{
    width: 5em;
    height: 8em;
    border-radius: 35%;
    clip-path: polygon(53% 21%, 67% 26%, 80% 37%, 87% 51%, 94% 66%, 96% 81%, 98% 100%, 4% 100%, 6% 92%, 9% 81%, 11% 73%, 12% 65%, 12% 56%, 14% 46%, 19% 36%, 27% 27%, 40% 20%);
    z-index: -1;
    position: relative;
    animation: ear-move 8s infinite;
    
} 

.ear-left{
    background-color: #f3f3f3;
    left: 20%;
    top:12%;
    transform: translate(12%,28%) rotateY(180deg);
    rotate: -9deg;
    box-shadow: inset 0 0 28px rgb(185, 185, 185);
    

}
.ear-right{
    background-color: rgb(42, 42, 42);
    left: 62%;
    top:-13%;
    transform: translate(12%,28%);
    box-shadow: inset 0 0 35px black;
    rotate: 9deg;
}

@keyframes ear-move{
    25%{
        height: 8em;
    }
    50%{
        height: 7.8em;
    }
    75%{
        height: 8em;
    }
}
.pink-ear{
    background-color: #efd2ba;
    clip-path: polygon(53% 21%, 67% 26%, 80% 37%, 87% 51%, 94% 66%, 96% 81%, 98% 100%, 4% 100%, 6% 92%, 9% 81%, 11% 73%, 12% 65%, 12% 56%, 14% 46%, 19% 36%, 27% 27%, 40% 20%);
    width: 1.2em;
    height: 4em;
    position: relative;
    left: 40%;
    top:30%;
    rotate: 15deg;

}

.horns{
    height: 3em;
    width: 5em;
    background-color: #efd2ba;
    border-radius:60% 40% 80% 40% ;
    box-shadow: inset 0 0 30px #ffe8d5;
    animation: horn-move 4s infinite;
    
}
.horn-left{
    transform: translate(8em,10.5em) rotateX(180deg) ;
    rotate: 273deg;
}

.horn-right{
    transform: translate(8em,17em);
    rotate: -98deg;

}

@keyframes horn-move{
    50%{
        height: 2.8em;
    }
}

.eye{
    width: 1.5em;
    height: 1.5em;
    border-radius: 100%;
    z-index: 99;
    background-color: black;
    position: absolute;
    top: 46%;
    animation: eye-shut 3s infinite;

}

.eye-left{
    left: 15%;
}

.eye-right{
    right: 15%;
}

@keyframes eye-shut{
    45%{
        height: 1.6em;

    }
    50%{
        height: 0em;

    }
    55%{
        height: 1.6em; 
       
    }
    58%{
        height: 0em;

    }
    62%{
        height: 1.6em;

    }
}

.big-snout{
    width: 7em;
    height: 5em;
    background-color: #c29a7b;
    border-radius: 37%;
    position: absolute;
    transition: all 0.2s ease-in-out;
    top: 33%;
    left: 30.0%; /*ffe7d4*/
    box-shadow: inset 0 30px 65px #ffe7d4;

    animation: snout-breathe 4s infinite;

}

.snout{
    width: 6.2em;
    height: 4.2em;
    background-color: #e9cab0;
    border-radius: 37%;
    position: absolute;
    transition: all 0.2s ease-in-out;
    top: 8.0%;
    left:6.1%;
    box-shadow: inset 0 60px 45px #fee8d6;

    animation: snout-breathe 4s infinite;

}
@keyframes snout-breathe{
}

.nostril{
    width: 0.8em;
    height: 0.8em;
    border-radius: 100%;
    z-index: 99;
    background-color: black;
    position: absolute;
    top: 40%;
    animation: nostril-flare 2s infinite;
}

.nostril1{
    left: 17%;
}
.nostril2{
    right: 17%;

}


@keyframes nostril-flare{
    25%{
        transform: scale(1.0);

    }
    50%{
        transform: scale(1.1);
    }
    75%{
        transform: scale(1.0);
    }
}
